<h4>{{ trip.title }}</h4>

<input places-auto-complete (place_changed)="autoCompleteResult($event)" [types]="['geocode']" />

<ngui-map [center]="center" (click)="clickOnMap($event)" (mapReady$)="onMapReady($event)">

  <marker *ngIf="marker && marker.position" [position]="marker.position" [draggable]="true" (click)="toggleInfoWindow($event)"></marker>
  <info-window id="markerInfoWindow">
    <div *ngIf="marker">
      <div>
        {{ marker.title }}
      </div>
      <button (click)="addMarkerToTrip(marker)">Add to Trip</button>
    </div>
  </info-window>

  <info-window id="destinationInfoWindow">
    <div *ngIf="activeDestination">
      <div>
        {{ activeDestination.order }}
      </div>
      <button (click)="removeDestination(activeDestination)">Remove from Trip</button>
    </div>
  </info-window>

  <marker *ngFor="let destination of trip.destinations; let i = index"
          [position]="[destination.lat, destination.lng]"
          (click)="clickDestinationMarker($event, destination)"
          [draggable]="true"
          (dragend)="destinationMarkerDragEnd($event, i)"
          [icon]="{
            url: '/assets/images/map/destination-marker.png',
            anchor: [14, 43],
            size: [27, 43],
            scaledSize: [27, 43]
          }">
    <!--<div class="destination-marker">{{destination.order}}</div>-->
  </marker>

  <directions-renderer *ngFor="let direction of trip.directions"
    [suppressMarkers]="true"
    [draggable]="true"
    [directions-request]="direction.request">
  </directions-renderer>

</ngui-map>

